@import "_inc/mixins";
@import "_inc/variables";
@import "_inc/boilerplate";

.index {

  text-align: center;

  #logo {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 13%;

    svg {
      display: inline-block;
      width: 50%;
      max-height: 230px;
    }
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 50px;
    font-size: 4vw;
  }

}
