@import "_inc/mixins";
@import "_inc/variables";
@import "_inc/boilerplate";

.index {

  > section {
    margin-bottom: 50px;
  }

  text-align: center;

  #logo {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;

    @media #{$desktop} {
      margin-top: 150px;
      margin-bottom: 120px;
  	}

    svg {
      display: inline-block;
      width: 50%;
      max-height: 230px;

      @media #{$desktop} {
    		width: 460px;
    	}
    }
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4vw;
    margin-bottom: 4em;

    @media #{$desktop} {
  		font-size: 50px;
      letter-spacing: 20px;
  	}

  }

  a {
    letter-spacing: 2px;
    font-size: 10px;

    @media #{$tablet} {
  		font-size: 12px;
  	}

    @media #{$desktop} {
  		font-size: 14px;
      letter-spacing: 3px;
  	}
  }

  #meny {
    width: 95%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    .meny1 svg{

    }

    .meny2 svg{
      width: 70%;
    }

    .meny3 svg{

    }

    .meny4 svg{

    }
  }

}
