{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}


	<section>
		<div id="logo">
			{{ craft.inlin.er('/static/svg/symbols/logo_sandwichbar.svg') | raw }}
		</div>

		<h2>Åpner på Sirkus shopping 1.Oktober!</h2>
		<img src="/static/img/meltbil_meny.jpg">		
	</section>
{% endblock %}
