{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}


	<section>
		<div id="logo">
			{{ craft.inlin.er('/static/svg/symbols/logo_sandwichbar.svg') | raw }}
		</div>

		<h2>Åpner 1.Oktober</h2>

		<a href="mailto:post@meltgrilledcheese.no">post@meltgrilledcheese.no</a>

	</section>
{% endblock %}
