{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}


	<section>
		<div id="logo">
			{{ craft.inlin.er('/static/svg/symbols/logo_sandwichbar.svg') | raw }}
		</div>

		<div id="meny">
			<div class="meny1">
				{{ craft.inlin.er('/static/svg/symbols/menylang.svg') | raw }}
			</div>

		</div>

		<a href="tel:90205094">Tlf: 902 05 094</a></br>
		<a href="mailto:post@meltgrilledcheese.no">post@meltgrilledcheese.no</a>


	</section>
{% endblock %}
