{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}


	<section>
		<div id="logo">
			{{ craft.inlin.er('/static/svg/symbols/logo_sandwichbar.svg') | raw }}
		</div>

		<div id="meny">
			<div class="meny1">
				{{ craft.inlin.er('/static/svg/symbols/menylang.svg') | raw }}
			</div>

		</div>

		<a href="tel:90205094">Tlf Sirkus shopping: 90 20 50 94</a></br>
		<a href="tel:93085369">Tlf Generelle spørsmål: 930 85 369</a></br>
		<a href="tel:45066649">Tlf Foodtruck: 450 66 649</a></br>
		<a href="mailto:post@meltgrilledcheese.no">post@meltgrilledcheese.no</a>


	</section>
{% endblock %}
